@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Manrope:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 20px;
    border-radius: 7px;
    text-transform: capitalize;
}

#numHere {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.number {
    display: inline-block;
    width: 30px; /* Adjust width as needed */
    text-align: center;
    margin: 5px;
}

.strikethrough {
    text-decoration: line-through;
}